// FONCTION DE FILTRAGE (RECHERCHE)
function filtrerTableau() {
    var input, filter, table, tr, td, i, txtValueCode, txtValueProduit;
    input = document.getElementById("recherche");
    filter = input.value.toUpperCase();
    table = document.getElementById("tablePLU");
    tbody = table.getElementsByTagName("tbody")[0];
    tr = tbody.getElementsByTagName("tr");

    // Parcourt toutes les lignes du tableau
    for (i = 0; i < tr.length; i++) {
        // Récupère les colonnes Code PLU (index 0) et Produit (index 1)
        tdCode = tr[i].getElementsByTagName("td")[0];
        tdProduit = tr[i].getElementsByTagName("td")[1];
        
        if (tdCode && tdProduit) {
            txtValueCode = tdCode.textContent || tdCode.innerText;
            txtValueProduit = tdProduit.textContent || tdProduit.innerText;
            
            // Affiche la ligne si le texte de recherche correspond au Code ou au Produit
            if (txtValueCode.toUpperCase().indexOf(filter) > -1 || txtValueProduit.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }       
    }
}

// FONCTION DE TRI PAR COLONNE
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("tablePLU");
  switching = true;
  // Définir la direction du tri initialement sur croissant
  dir = "asc"; 
  
  while (switching) {
    switching = false;
    rows = table.rows;
    /* Boucle à travers toutes les lignes du corps du tableau (sauf l'entête) */
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      /* Récupérer les éléments à comparer */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      
      /* Vérifier si les deux lignes doivent changer de place, selon la direction (asc ou desc) */
      var xContent = isNaN(x.innerHTML) ? x.innerHTML.toLowerCase() : Number(x.innerHTML);
      var yContent = isNaN(y.innerHTML) ? y.innerHTML.toLowerCase() : Number(y.innerHTML);

      if (dir == "asc") {
        if (xContent > yContent) {
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (xContent < yContent) {
          shouldSwitch = true;
          break;
        }
      }
    }
    
    if (shouldSwitch) {
      /* Si un échange a été marqué, effectuez l'échange et marquez qu'un échange a été fait */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;      
    } else {
      /* Si aucun échange n'a été fait et que la direction est "asc", changez la direction à "desc" et recommencez */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}